/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com
   ========================================================================== */
html, button, input, select, textarea {
  color: #222;
}

body {
  font-size: 1em;
  line-height: 1.4;
}

::-moz-selection {
  background: #cccce8;
  text-shadow: none;
}

::selection {
  background: #cccce8;
  text-shadow: none;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Template Styles
   Note that these are the mobile styles. The other styles can be located
   in the media queries segment.
   ========================================================================== */
body {
  font: 16px/26px Helvetica, Helvetica Neue, Arial, sans-serif;
  background: white;
}

.wrapper {
  width: 90%;
  margin: 0 5%;
}

#menu-toggle {
  background-color: #3b3bb9;
  border-radius: 8px;
  color: #fff;
  width: 100%;
  cursor: pointer;
  display: inline-block;
  padding: 15px 0;
  text-align: center;
}

.nav-container {
  background-color: #29297f;
}

.footer-container, .main aside {
  border-top: 20px solid #29297f;
}

.header-container, .footer-container, .main aside {
  background: #3535a6;
}

.title {
  color: white;
}

#topnav {
  position: relative;
  bottom: 0;
  min-height: 38px;
}
#topnav ul {
  display: none;
  padding: 10px 0;
  margin: 0;
}
#topnav ul li {
  font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
  font-size: 13px;
  letter-spacing: 1px;
  text-align: center;
  display: block;
}
#topnav ul li a {
  white-space: nowrap;
  height: 38px;
  line-height: 38px;
  width: 90%;
  margin: 10px 0;
  padding: 5px 0;
  color: white;
  background-color: #3b3bb9;
  display: inline-block;
  text-decoration: none;
}
#topnav ul li ul {
  display: none;
}

.main {
  padding: 30px 0;
}
.main article h1 {
  font-size: 2em;
}
.main aside {
  color: white;
  padding: 0px 5% 10px;
}

.footer-container footer {
  color: white;
  padding: 20px 0;
}

/* ===============
    ALL: IE Fixes
   =============== */
.ie7 .title {
  padding-top: 20px;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* ==========================================================================
   Media Queries
   ========================================================================== */
@media only screen and (min-width: 575px) {
  /* ====================
      INTERMEDIATE: Menu
     ==================== */
  #menu-toggle {
    display: none;
  }

  #topnav ul {
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  #topnav ul > :nth-child(n+1) {
    padding-right: 1px;
  }
  #topnav ul > :last-child {
    padding-right: 0;
    border-right: 1px solid #ae96de;
  }
  #topnav ul li {
    border-left: 1px solid #ae96de;
    float: left;
    position: relative;
    display: inline-block;
  }
  #topnav ul li a {
    padding: 0 10px;
    width: auto;
    margin: 0;
    background: -webkit-gradient(linear, left top, left bottom, from(#3535a6), to(#29297f));
    background: -moz-linear-gradient(top, #3535a6, #29297f);
    background: -o-linear-gradient(top, #3535a6, #29297f);
    background: -ms-linear-gradient(top, #3535a6, #29297f);
    background: linear-gradient(top, #3535a6, #29297f);
  }
  #topnav ul li a:hover {
    background-color: #2f2f93;
    background: -webkit-gradient(linear, left top, left bottom, from(#3535a6), to(#1f1f60));
    background: -moz-linear-gradient(top, #3535a6, #1f1f60);
    background: -o-linear-gradient(top, #3535a6, #1f1f60);
    background: -ms-linear-gradient(top, #3535a6, #1f1f60);
    background: linear-gradient(top, #3535a6, #1f1f60);
  }
  #topnav ul li a:active {
    outline: none;
    background: -webkit-gradient(linear, left top, left bottom, from(#1f1f60), to(#3535a6));
    background: -moz-linear-gradient(top, #1f1f60, #3535a6);
    background: -o-linear-gradient(top, #1f1f60, #3535a6);
    background: -ms-linear-gradient(top, #1f1f60, #3535a6);
    background: linear-gradient(top, #1f1f60, #3535a6);
  }
  #topnav ul li:hover > ul {
    visibility: visible;
    opacity: 1;
    top: 38px;
  }
  #topnav ul li ul {
    position: absolute;
    left: -1px;
    top: 48px;
    visibility: hidden;
    opacity: 0;
    display: block;
    z-index: 1;
    -webkit-transition: all 0.225s;
    -moz-transition: all 0.225s;
    -o-transition: all 0.225s;
    -ms-transition: all 0.225s;
    transition: all 0.225s;
  }
  #topnav ul li ul > :nth-child(n+1) {
    padding-bottom: 1px;
    padding-right: 0;
  }
  #topnav ul li ul > :last-child {
    padding-bottom: 0;
  }
  #topnav ul li ul li {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px !important;
    background-color: #ae96de;
  }
  #topnav ul li ul li a {
    width: 100%;
    margin: 0 -10px;
    padding: 0  10px;
  }
}
@media only screen and (min-width: 768px) {
  /* ====================
      WIDE: CSS3 Effects
     ==================== */
  .nav-container, .main aside {
    -webkit-box-shadow: 0 5px 10px #aaa;
    -moz-box-shadow: 0 5px 10px #aaa;
    box-shadow: 0 5px 10px #aaa;
  }

  .title {
    float: left;
  }

  .main article {
    float: left;
    width: 57%;
  }
  .main aside {
    float: right;
    width: 28%;
  }
}
@media only screen and (min-width: 1140px) {
  /* ===============
      Max Width
     =============== */
  .wrapper {
    width: 1026px;
    /* 1140px - 10% for margins */
    margin: 0 auto;
  }
}
/* ==========================================================================
   Helper classes
   ========================================================================== */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px;
}
.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}

.hidden {
  display: none !important;
  visibility: hidden;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

.invisible {
  visibility: hidden;
}

.clearfix {
  *zoom: 1;
}
.clearfix:after {
  clear: both;
}
.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}

/* ==========================================================================
   Print styles
   ========================================================================== */
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a, a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links for images, or javascript/internal links
   */
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
    content: "";
  }

  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
    /* h5bp.com/t */
  }

  tr, img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
}

  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }

  h2, h3 {
    page-break-after: avoid;
  }
}
